.git
.idea
.vscode
.cursor

**/.env
**/.env.*
!**/.env.example

**/*.log

**/bin
**/dist
**/build
**/out

**/*.exe
**/*.dll
**/*.so
**/*.dylib

**/*.test

**/.DS_Store
**/Thumbs.db

**/tmp
**/.tmp
**/.cache

**/node_modules
